# Copyright 2018-2023 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_lockfile"
version = "0.14.1"
edition = "2021"
license = "MIT"
description = "An implementation of a lockfile used in Deno"

[dependencies]
ring = "=0.16.20"
serde = { version = "1.0.149", features = ["derive"] }
serde_json = "1.0.85"
thiserror = "1.0.40"

[dev-dependencies]
temp-dir = "0.1.11"
